extends main

block content
    #text-container
        #text
            #iteration-bar
                #back-button-container(class='iteration-bar-item')
                    a(id='back-button' class='remove-decoration button button-large button-left-aligned' href='#')
                        img(src='/images/icons/arrow-left.png')
                        span(class='text text-primary') Back
                #menu-button-container(class='iteration-bar-item')
                    a(id='menu-button' class='remove-decoration button button-large button-left-aligned' style='justify-content: center;' href='#')
                        img(src='/images/icons/hamburger.png')
                        span(class='text text-primary') Menu
                #forward-button-container(class='iteration-bar-item')
                    a(id='next-button' class='remove-decoration button button-large button-right-aligned' href='#')
                        img(src='/images/icons/arrow-right.png')
                        span(class='text text-primary') Next
            #title-container
                h1(id='title' class='text text-primary') Entry Title
            each paragraph in paragraphs
                p(class='text text-block text-primary text-2') #{paragraph}

    #images-container
        #images
            each imageInfo in imageInfos
                figure.linked-img
                    img(src=imageInfo.image alt=imageInfo.description)
                    figcaption(class='text text-primary text-2') #{imageInfo.caption}
