extends main

block content
    #text-container
        #text
            #iteration-bar
                #back-button-container(class='iteration-bar-item')
                    a(id='back-button' href='#' class='remove-decoration')
                        img(src='/images/icons/back-arrow.png')
                        span(class='text text-primary') Back
                #menu-button-container(class='iteration-bar-item') menu
                #forward-button-container(class='iteration-bar-item') FORRRWARRRDDDDDDDD
            #title
                h1(id='title' class='text text-primary') Entry Title
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!
            p(class='text text-block text-primary text-m') Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolores, sed nesciunt itaque natus autem sint labore qui omnis ullam dolorum, vitae perspiciatis numquam porro. Eveniet, nihil fugit. Reiciendis, fuga!

    #images-container
        #images
            each imageInfo in imageInfos
                figure.linked-img
                    img(src=imageInfo.image alt=imageInfo.description)
                    figcaption(class='text text-primary text-m') #{imageInfo.caption}
