doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        .main-grid
            nav#navbar
                a(href='/' class='nav-flex-item remove-decoration')
                    span(class='text text-primary text-3') Logan Gerber
                a(href='resume' class='nav-flex-item remove-decoration')
                    span(class='text text-primary text-4') Resumé
                a(class='nav-icon nav-flex-item nav-right' href='https://github.com/LoganGerber')
                    img(src='/images/icons/github.png' alt='Github')
                a(class='nav-icon nav-flex-item' href='#')
                    img(src='/images/icons/linkedin.png' alt='Linked In')
                a(class='nav-icon nav-flex-item' href='#')
                    img(src='/images/icons/email.png' alt='email')
                // TODO: Add quick links to email, linkedin, github
                // TODO: Add hamburger menu

            h1= message
            h2= error.status
            pre #{error.stack}

            #footer
