extends main

block content
    #name-column
        span(class='text text-primary text-1' id='name-large') Logan Gerber
        span(class='text text-primary text-2' id='title-large') Software Engineer
    #nav-column
        a(href='resume' class='nav-column-item remove-decoration')
            span(class='text text-primary text-2') Resumé
        a(href='experience' class='nav-column-item remove-decoration')
            span(class='text text-primary text-2') Experience
        a(href='projects' class='nav-column-item remove-decoration')
            span(class='text text-primary text-2') Projects
        a(href='skills' class='nav-column-item remove-decoration')
            span(class='text text-primary text-2') Skills
        a(href='blog' class='nav-column-item remove-decoration')
            span(class='text text-primary text-2') Blog