extends main

block content
    #name-column
        span(class='text text-primary' id='name-large') Logan Gerber
        span(class='text text-primary' id='title-large') Software Engineer
    #nav-column
        span(class='nav-section-item text text-primary text-xl') Resumé
        span(class='nav-section-item text text-primary text-xl') Experience
        span(class='nav-section-item text text-primary text-xl') Projects
        span(class='nav-section-item text text-primary text-xl') Skills
        span(class='nav-section-item text text-primary text-xl') Blog