extends main

block content
    #name-column
        span(class='text text-primary text-6' id='name-large') Logan Gerber
        span(class='text text-primary text-5' id='title-large') Software Engineer
    #nav-column
        a(href='resume' class='nav-column-item remove-decoration')
            span(class='text text-primary text-5') Resumé
        a(href='experience' class='nav-column-item remove-decoration')
            span(class='text text-primary text-5') Experience
        a(href='projects' class='nav-column-item remove-decoration')
            span(class='text text-primary text-5') Projects
        a(href='skills' class='nav-column-item remove-decoration')
            span(class='text text-primary text-5') Skills
        a(href='blog' class='nav-column-item remove-decoration')
            span(class='text text-primary text-5') Blog