doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
    body
        nav.navbar(id='navbar')
            span(id='name', class='text text-primary text-header') Logan Gerber
            // TODO: Add quick links to email, linkedin, github
            // TODO: Add hamburger menu
        #content
            block content

        #footer
            