extends main

block content

    #text test text

    #images
        each imageInfo in imageInfos
            figure.linked-img
                img(src=imageInfo.image alt=imageInfo.description)
                figcaption #{imageInfo.caption}
