// Color scheme
@import './palettes/dark_and_blue.less';


// sizing
@text-6-size: 10pt;
@text-5-size: 14pt;
@text-4-size: 20pt;
@text-3-size: 30pt;
@text-2-size: 35pt;
@text-1-size: 80pt;

@text-6-weight: 700;
@text-5-weight: 400;
@text-4-weight: 700;
@text-3-weight: 700;
@text-2-weight: 700;
@text-1-weight: 700;

@h1-size: 75pt;
@h1-weight: 700;

@image-6-size: 12pt;
@image-5-size: 15pt;
@image-4-size: 30px;
@image-3-size: 40px;

@landing-name-padding-between: 50px;


// Layout element sizing
@navbar-height: 65px;
@footer-height: 30px;

// Layout padding
@navbar-padding-left: 15px;
@navbar-padding-bottom: 10px;
@navbar-padding-right: 15px;

@images-padding-top: 75px;
@images-padding-bottom: 75px;
@images-padding-left: 65px;
@images-padding-right: 65px;
@images-padding-between: 175px;

@text-padding-top: 20px;
@text-padding-bottom: 250px;
@text-padding-left: 100px;
@text-padding-right: 100px;
@text-padding-between: 75px;
@text-padding-after-iteration-bar: 60px;

@nav-column-item-padding-between: 30px;

// Component sizing
@figure-max-image-height: 600px;

@back-button-max-height: 50px;

// Component spacing
@navbar-item-spacing: 25px;
@navbar-icon-spacing: 15px;

@button-center-spacing: 5px;

// Component padding
@title-bar-padding-bottom: 75px;

// Spacing
@center-spacing: 20px; // Spacing between images and text grid areas