.text {
    font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
    color: white;
}

.text-xl {
    font-size: 30pt;
    font-weight: 700;
}

.text-l {
    font-size: 24pt;
    font-weight: 700;
}

.text-m {
    font-size: 12pt;
    font-weight: 400;
}