@import '../utils/variables.less';

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.text-primary {
    color: white;
}

.text-xl {
    font-size: @text-xlarge-size;
    font-weight: @text-xlarge-weight;
}

.text-l {
    font-size: @text-large-size;
    font-weight: @text-large-weight;
}

.text-m {
    font-size: @text-medium-size;
    font-weight: @text-medium-weight;
}

.text-s {
    font-size: @text-small-size;
    font-weight: @text-small-weight;
}

h1 {
    font-size: @h1-size;
    font-weight: @h1-weight;

    text-align: center;
}

p {
    width: 100%;
}