@import './base/reset';
@import "./utils/palettes/dark_and_blue.less";
@import "./layouts/images.less";
@import './base/typography';

html,
body {
    // Full screen page.
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    // Set base background color.
    background: @background;
}

#navbar {
    // Have the navbar float on top of the page.
    position: fixed;
    top: 0px;

    // Navbar sizing to be the width of the page.
    height: 65px;
    width: 100%;
}

#content {
    // Make the main content a flexbox.
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    // Stretch the content to the bottom of the window.
    height: 100%;

    // Push the content below the navbar.
    padding-top: 65px;

    padding-bottom: 30px;

    // Move padding inside the content box.
    box-sizing: border-box;
}

#text {
    // On desktop view, show text section to the right of the images.
    order: 1;

    // Desktop, Text section should take up half the screen.
    width: 50%;

    // Move padding inside the content box.
    box-sizing: border-box;

    // Center text.
    text-align: center;

    // Allow for scrolling through section.
    overflow: auto;

    scrollbar-color: @primary @background;
}

#images {
    // On desktop view, show images section to the left of text.
    order: 0;

    // Desktop, Images section should take up half the screen.
    width: 50%;

    scrollbar-color: @primary @background;
}

figure.linked-img>img {
    // Allow image to be up to 600px, and up to the images section's width
    width: 100%;
    max-height: 600px;

    // Remove margins from images
    margin: 0px;
}

figure.linked-img>figcaption {
    // Center images' caption text.
    text-align: center;

    // Remove margins from the caption.
    margin: 0px;
}

#footer {
    position: fixed;
    bottom: 0px;

    height: 30px;
    width: 100%;
}


// #navbar{
//     background: purple;
// }

// #text{
//     background: red;
// }

// #images{
//     background: orange;
// }

// figure.linked-img{
//     background: yellow;
// }

// #footer{
//     background: green;
// }