@import '../utils/variables.less';

div.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: @navbar-height calc(100vh - @navbar-height - @footer-height) @footer-height;

    grid-template-areas:
        "nav nav"
        "content-left content-right"
        "footer footer";

    column-gap: @center-spacing;

    place-items: stretch;
}