div#images {
    // Display the images in a flexbox
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // Move the padding into the content box.
    box-sizing: border-box;

    // Allow for scrolling.
    overflow: auto;
}