@import 'grid.less';

@images-right-use-padding: true;

@images-padding-top: 75px;
@images-padding-bottom: 75px;
@images-padding-left: 20px;
@images-padding-right: 20px;
@images-padding-between: 175px;

div#images-container {
    grid-area: content-left;
    place-self: stretch;

    overflow: auto;

    #images {
        display: flex;
        flex-direction: column;
        align-items: center;

        box-sizing: border-box;

        padding-top: @images-padding-top;
        padding-left: @images-padding-left;

        & figure:last-child {
            margin-bottom: @images-padding-bottom;
        }

        figure {
            margin-bottom: @images-padding-between;
        }
    }
}

div#images-container when (@images-right-use-padding = true) {
    padding-right: @images-padding-right;
}

div#images-container when (@images-right-use-padding = false) {
    margin-right: @images-padding-right;
}