@import 'grid.less';
@import '../utils/variables.less';
@import '../components/navbar-flex-item.less';

nav#navbar {
    grid-area: nav;
    place-self: stretch;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: flex-end;


    box-sizing: border-box;
    padding-left: @navbar-padding-left;
    padding-bottom: @navbar-padding-bottom;
    padding-right: @navbar-padding-right;
}