@import '../utils/variables.less';

.button {
    display: flex;
    
    align-items: center;
}

.button {

    &-left-aligned,
    &-right-aligned {
        flex-direction: row;
    }

    &-top-center-aligned,
    &-bottom-center-aligned {
        justify-content: center;
        flex-direction: column;
    }

    &-left-aligned {
        img {
            padding-right: @button-center-spacing;

            order: 0;
        }

        span {
            order: 1;
        }
    }

    &-right-aligned {
        img {
            padding-left: @button-center-spacing;

            order: 1;
        }

        span {
            order: 0;
        }
    }

    &-top-center-aligned {
        img {
            padding-bottom: @button-center-spacing;

            order: 0;
        }

        span {
            order: 1;
        }
    }

    &-bottom-center-aligned {
        img {
            padding-top: @button-center-spacing;
            order: 1;
        }

        span {
            order: 0;
        }
    }

    &-small {
        img {
            max-height: @image-1-size;
        }
        span {
            font-size: @text-1-size;
            font-weight: @text-1-weight;
        }
    }

    &-medium {
        img {
            max-height: @image-2-size;
        }
        span {
            font-size: @text-2-size;
            font-weight: @text-2-weight;
        }
    }
    
    &-large {
        img {
            max-height: @image-3-size;
        }
        span {
            font-size: @text-3-size;
            font-weight: @text-3-weight;
        }
    }

    &-xlarge {
        img {
            max-height: @image-4-size;
        }
        span {
            font-size: @text-4-size;
            font-weight: @text-4-weight;
        }
    }
}