@import '../utils/variables.less';

figure.linked-img {
    img {
        max-width: 100%;
        max-height: @figure-max-image-height;
        width: auto;
        height: auto;

        margin: 0px;
    }

    figcaption {
        text-align: center;
    
        margin: 0px;
    }
}
