html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    background: #303033;
}

#navbar {
    position: fixed;
    top: 0px;

    height: 65px;
    width: 100%;
    background: purple;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    height: 100%;

    padding-top: 65px;

    box-sizing: border-box;
}

#text {
    background: #303033;
    order: 1;
    width: 50%;

    box-sizing: border-box;

    background: red;
}

#images {
    order: 0;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;

    background: orange;
}