// (modified from Dark and blue)
#darkAndRed() {
    @background_color: #192428;
    @primary_color: #2d383c;
    @secondary_color: #414c50;
    @highlight_color: #e22b2e;
    @highlight_secondary_color: #e06264;
}

// (https://www.color-hex.com/color-palette/80564)
#darkAndBlue() {
    @background_color: #192428;
    @primary_color: #2d383c;
    @secondary_color: #414c50;
    @highlight_color: #39ace7;
    @highlight_secondary_color: #0784b5;
}

// (https://www.color-hex.com/color-palette/80309)
#darkGreyMinimal() {
    @background_color: #232224;
    @primary_color: #2c2a29;
    @secondary_color: #353635;
}

// (https://www.color-hex.com/color-palette/81345)
#darkWood() {
    @background_color: #4d3737;
    @primary_color: #633b3b;
    @secondary_color: #b46a6a;
    @highlight_color: #3e3131;
    @highlight_secondary_color: #1a1818;
}

// (https://www.color-hex.com/color-palette/83458)
#greyDark() {
    @background_color: #000000;
    @primary_color: #131313;
    @secondary_color: #333333;
    @highlight_color: #3e3e3e;
    @highlight_secondary_color: #242424;
}
