// (modified from Dark and blue)
#darkAndRed() {
    bg: #192428;
    primary: #2d383c;
    secondary: #414c50;
    pop: #e22b2e;
    pop_secondary: #e06264;
}

// (https://www.color-hex.com/color-palette/80564)
#darkAndBlue() {
    bg: #192428;
    primary: #2d383c;
    secondary: #414c50;
    pop: #39ace7;
    pop_secondary: #0784b5;
}

// (https://www.color-hex.com/color-palette/80309)
#darkGreyMinimal() {
    bg: #232224;
    primary: #2c2a29;
    secondary: #353635;
}

// (https://www.color-hex.com/color-palette/81345)
#darkWood() {
    bg: #4d3737;
    primary: #633b3b;
    secondary: #b46a6a;
    pop: #3e3131;
    pop_secondary: #1a1818;
}

// (https://www.color-hex.com/color-palette/83458)
#greyDark() {
    bg: #000000;
    primary: #131313;
    secondary: #333333;
    pop: #3e3e3e;
    pop_secondary: #242424;
}
